<html>
    <head>
        <%- include(`${base}/views/partials/head.ejs`, { title: "Dashboard" }) %>
    </head>
    <body>
        <%- include(`${base}/views/partials/nav.ejs`) %>
        <%- include(`${base}/views/partials/heading.ejs`, { title: "Teacher Dashboard" }) %>
        <center>
            <% if (essays.length === 0) { %>
                <strong class="text-center" id="no-essays-submitted">No essays submitted</strong>
            <% } else { %>
                <table class="table mt-4 mx-5">
                    <tr class="table-head">
                        <th><p>Student</p></th>
                        <th><p>Grade</p></th>
                        <th><p>Date</p></th>
                        <th><p>Time</p></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <% for(let i = essays.length - 1; i >= 0; i--) { %>
                        <tr id="essay-row-<%= essays[i]._id %>">
                            <td>
                                <p><%= essays[i].name %></p>
                            </td>
                            <td>
                                <p><%= essays[i].grade.letterGrade %></p>
                            </td>
                            <td>
                                <p><%= essays[i].creationTime.getMonth() %>/<%= essays[i].creationTime.getDate() %>/<%= essays[i].creationTime.getFullYear().toString().slice(-2) %></p>
                            </td>
                            <td>
                                <p><%= essays[i].creationTime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %></p>
                            </td>
                            <td>
                                <a href="/view/<%= essays[i]._id %>">
                                    <button class="btn btn-primary">View</button>
                                </a>   
                            </td>
                            <td>
                                <button id="rm-button-<%= essays[i]._id %>" onclick="deleteEssay('<%= essays[i]._id %>')" class="btn btn-danger">Remove</button>
                            </td>
                        </tr>
                    <% } %>
                </table>
            <% } %>
        </center>
    </body>
    <script src="/static/js/index.js"></script>
    <script>
        const xhr = new XMLHttpRequest();

        function deleteEssay(essayId) {
            fetch(`/delete/${essayId}`, {
                method: "DELETE",
            }).then((res) => {
                document.querySelector(`#essay-row-${essayId}`).remove();
            }).catch((err) => {
                console.log(err)
                alert("An error occurred")
            });
        }
    </script>
</html>